body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(./images/pc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#code{
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
