body{
    width: 1200px;
    height: 600px;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background {
    position: absolute;
    height: 550px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hour{
    width: 30px;
    height: 300px;
    position: absolute;
}

#minute{
    width: 26px;
    height: 430px;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}