@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@100;200;300&display=swap");

button {
  box-shadow: 0 12px #999;
}

button:active {
  box-shadow: 0 8px #666;
  transform: translateY(4px);
}

#buttonContainer {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#buttonContainer > button {
  border-radius: 50%;
  border: 5px solid #f00;
  background-color: #000;
  color: #fff;
  outline: none;

  height: 150px;
  width: 150px;

  font-size: 60pt;
  font-weight: bold;
  font-family: "Amatic SC";
  text-transform: uppercase;
}

#taskFrame {
  /* visibility: collapse; */

  border: 2px solid #000;

  height: 80vh;
  width: 50vw;

  position: fixed;
  top: 10vh;
  left: 25vw;
  z-index: 100;

  background-color: #d4d4d4;
}
