@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@100;200;300&display=swap");

#buttonContainer button {
  box-shadow: 0 12px #999;
}

#buttonContainer button:active {
  box-shadow: 0 8px #666;
  transform: translateY(4px);
}

#buttonContainer {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#buttonContainer > button {
  border-radius: 50%;
  border: 5px solid #f00;
  background-color: #000;
  color: #fff;
  outline: none;

  height: 150px;
  width: 150px;

  font-size: 60pt;
  font-weight: bold;
  font-family: "Amatic SC";
  text-transform: uppercase;
}

#taskFrame {
  /* visibility: collapse; */

  border: 2px solid #000;

  height: 600px;
  width: 1200px;
  overflow: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  background-color: #d4d4d4;
}


.triangleContainer {
  position: absolute;
  top: 48vh;
  left: 42vw;

  margin: 0;
  width: 320px;

  transform-origin: center;
}

.triangle {
  flex-grow: 1;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 30px solid gold;

  transform: rotate(-90deg);
}
