body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(./images/locker.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

img{
    position: absolute;
    top: "your percentage";
    left:0;
    right: 700px;
    margin:0 auto;
    max-width: 400px;
    height: auto;
    
}